.about-container {
    background-color: #1ecf27; /* Фоновий колір */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #03020a; /* Колір тексту */
    font-family: Arial, sans-serif; /* Шрифт */
    text-align: justify;
}

.about-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 40px;
}

.about-image {
    background-image: url('about.jpg'); /* Додано фонове зображення */
    background-size: cover;
    background-position: center;
    width: 300px; /* Задаємо ширину для зображення */
    height: 300px; /* Задаємо висоту для зображення */
    border-radius: 50%; /* Закруглені кути, щоб зробити його круглим */
    margin-bottom: 23px;
}
