.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 135, 233);
    color: rgb(245, 123, 16);
    padding: 10px 15px;
    position: center;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(127, 7, 232);
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: #d1c5c5;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  